.background{
    background: linear-gradient(80.7deg, #FFC73B 0%, #FFBCBC 53.29%, #DDA5FF 102.74%);
    width: 212.5vh;
    /*height: 110vh;*/
}


.form_about_menu{
    background: white;
    width: 212.5vh;
    height: 100%;
    border: 1px solid black;
    border-radius: 45px 45px 0 0    ;
    margin: 13% 0 0 0;

}

