header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    position: fixed;
    width: 100%;
}

header img{
    width: 80px;
    height: 80px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 18px;
}

header ul li {
    margin-top: 12px;
}