.div{
    background-image: var(--back);
    background-size: 100%;
    background-repeat: no-repeat;width: 212.5vh;
    height: 110vh;
}

.titleAbout{
    text-align: center;
    font-size: 96px;
    color: white;
    padding: 10% 0 0 0;
    margin: 0 auto;
    width: 212.5vh;
}