.div{
    background-image: var(--back);
    background-size: 100%;
    background-repeat: no-repeat;width: 212.5vh;
    height: 110vh;
}

.title{
    text-align: center !important;
    padding: 15% 0 0 0 !important;
    font-size: 74px !important;
    width: 60% !important;
    margin: 0 auto !important;
    color: white !important;
}